<a href="https://colab.research.google.com/github/jcsnuesi/food_sales_predictions/blob/main/Food_sales_predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/sales_predictions.csv")
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
df.shape

(8523, 12)

In [5]:
#Corregir Item_Fat_Content data LF a Low Fat
#Eliminar los tipos de datos NAN
df1 = df.duplicated(keep=False).sum()
df1

0

In [6]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [9]:
def searched_replace(Item_Identifier):

    
    Item_Identifier_filter = df['Item_Identifier'] == Item_Identifier
    
    compate = df[Item_Identifier_filter]['Item_Weight'].mean() 
    if(pd.isnull(float(compate)) != pd.isnull(float('nan'))):
      values_mean = df[Item_Identifier_filter]['Item_Weight'].mean() 
    else:
      values_mean = 0.00
    
    return values_mean
  

   
item_w_filter_isna = df['Item_Weight'].isna()
df.loc[item_w_filter_isna, 'Item_Weight'] = df.apply(lambda x:searched_replace(x['Item_Identifier']), axis=1)

En la funcion de arriba antes de instanciar la funcion hacemos un filtro de los campos que son Nan de la col 'Item_Weight' donde luego se lo asignamos a un filtro general donde llamaremos dicha columna y le aplicaremos el valor de dataframe con la funcion apply que tiene como primer parametro una funcion lambda donde con una variable x a la que le instanciamos nuestra funcion principal "searched_replace" entro de esta haremos un filtro para buscar por clave en la columna "Item_identifier" sus valores luego incluirlo en un filtro para hacer la media de estos valores y segun sea el valor de la media haremos una validacion, si existe una media le asignamos el valor a la columna "item_weight" de lo contrario le agregamos 0.00 y retornamos la variable valor con todos los cambios realizados.

In [11]:
Item_Fat_Content_filter = df['Item_Fat_Content'] == 'LF'
df.loc[Item_Fat_Content_filter, 'Item_Fat_Content'] = df.apply(lambda x:'Light Fat', axis=1)

En el codigo anterior normalizamos la columna "Item_Fat_Content" en donde cambiamos los valores abreviados por su valor de mayor coincidencia.

In [25]:
Outlet_Sizer_filter = df['Outlet_Size'].isna()
df.loc[Outlet_Sizer_filter,['Outlet_Size']]  = df.apply(lambda x: 'Missing', axis=1)

Se creo un filtro tomando como referencia a la columna 'Outlet_Identifier' donde le hacemos llamada a la columna 'Outlet_Size' lo cual note que todos los datos faltantes tenian el mismo patron  es decir el mismo identificador y falta de datos, por lo que se procedio a sustituir su valor por 'Missing' que ya esta fila representa un 1% de todas las columnas de esa fila.

In [31]:
regular = df['Item_Fat_Content'] == 'reg'
low_fat = df['Item_Fat_Content'] == 'low fat'

df.loc[regular, 'Item_Fat_Content'] = df.apply(lambda x:'Regular', axis=1)
df.loc[low_fat, 'Item_Fat_Content'] = df.apply(lambda x:'Low Fat', axis=1)

Se filtradon los datos inconsistentes ya que es una categoria con tres opciones y proced√≠ con una funcion lambda a sustituirlos por su argumento original.

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [ ]:
df

In [52]:
import numpy as np 

df.loc[:,['Item_Weight','Item_Visibility','Item_MRP','Outlet_Establishment_Year','Item_Outlet_Sales']].describe().loc[['min','max','mean']].round(2)

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
min,0.00,0.00,31.29,1985.00,33.29
max,21.35,0.33,266.89,2009.00,13086.96
mean,12.87,0.07,140.99,1997.83,2181.29